<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>

    <!-- <h2>{{ students.first }}</h2>
    <h2>{{ students.first.phone }}</h2> -->


    <div class="content">
        {% for student in students %}
            <h2> {{ student.name }}</h2>
            <h3>{{ student.phone }}</h3>
        {% endfor %}
    </div>
    


</body>
</html>