{% extends 'index.html' %}

{% block title %}
{{title}} - {{ block.super }}
{% endblock %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col">
            {% for student in students %}
            <h2> {{ student.name }}</h2>
            {% endfor %}
        </div>
        <div class="col">
            {% for student in students %}
            <h3>{{ student.phone }}</h3>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        {% comment %}<form action="{% url 'search' %}" method="get"></form> {% endcomment %}
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Search by Name</label>
                <input type="input" class="form-control" id="InputName" aria-describedby="student">
                <div id="inputHelp" class="form-text">Enter the Student Name!</div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}