
/start
    /links
    /pizza_menu


1. /links (btn link)
    https://ru.akinator.com/
    https://youtube.com
    https://github.com/medvedarina12/My_bot_arina

2. /pizza_menu (btn reply)
    Какую пиццу вы предпочитаете? 
    -пепперони              = Хороший выбор
    -грибная                = ммм вкусненько
    -маргарита              = а эту я не люблю
    -с ананасами            = Необычно
    -рейнджер               = любишь остренькое ? 
    -морская                = Гурман ?

3. replyer dialog
    -да -нет



4. /dialog
    dialog_checker = True
    dialog_counter = 0          == number of questions / ansvers

    Question 1:
        answer q1_1
        answer q1_2
    Question 2:
        answer q2_1
        answer q2_2

    while dialog cheker:
        
QA - question answer system Вопросно-ответная система
1) Базу данных (база ответов) - вопрос-ответ (поиск по ключевым словам)
    база существует

2) Опросы социальные, ДИАЛОГОВАЯ СИСТЕМА - психологические , анкеты....
    записать ответы пользователя, анализ...
    база динамически создается
    